body {
	/*background-color: #e0e0e0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333; */
 
background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 90px, #abced4 90px, #abced4 81px, transparent 81px),
 
 linear-gradient(#eee .09em, transparent .1em);
 

background-size: 100% 1.2em;

//background-size: 71px 71px;
//repeating-linear-gradient(0deg,transparent,transparent 70px,#CCC 70px,#CCC 71px),repeating-linear-gradient(-90deg,transparent,transparent 70px,#CCC 70px,#CCC 71px); 
 
}


#header a {
	color: #000;
	text-decoration: none;
}

.logo img {
	border: none;

}

#footer { clear: both; margin-top: 18px; }

#footer, #footer a {
	font-size: 11px;
	color: #aaa;
}


form {
	clear: both;
}

fieldset {
	clear: both;
	margin: 15px 0 0 0;
	padding-left: : 2px;
	border: 0;
}

input {
	margin: 2px 0;
}

.buttons input {
	/*  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	//background-color: #d0d0d0;
	
    background-color:#abacad;
	border: 0 none;
	padding: 5px;  
	*/ 
float:center;
	 width: 110px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#eb1532 0%,
		#800000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#eb1532),
		to(#800000));
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	border: 1px solid #6d8000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(255,255,255,0.2),
		0px 1px 0px rgba(255,255,255,0.4);
 

}

 .button:hover{
background: -moz-linear-gradient(
		top,
		#A40E23 0%,
		#e87474);	
}

.demo p, li, ol {
	font-size: 20px;
}
/*
 #explantion p, li,ol {
font-size: 1.5em;
 }*/
#simpleRenderer {
	float: right;
	font-family: monospace; 
	line-height: 5px;
	font-size: 5px;
	border: 1px solid #d0d0d0;
	padding: 3px;
	margin:3px 3px 0 0;
}

#simpleRenderer a, #simpleRenderer a:visited {
	display: block;
	float: left;
	width: 15px;
	text-align: center;
	color: #333;
	background-color: transparent;
	cursor: pointer;
}
#simpleRenderer a:hover {
	background-color: #fff;
}

#simpleRenderer a.cell {
	width: 7px;
	height: 7px;
	line-height: 0;
	margin: 0 1px 1px 0;
}

#simpleRenderer a.alive {
	//background-color: #000;
	background-color: #0b3fea;
}

#simpleRenderer a.dead {
	background-color: #94cea2;
}
#simpleRenderer br {
	clear: left;
}

 

.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;	
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE 5.5/6/7 */

figure{
	border:3px solid red;
	border-radius: 25px;
	float:right;
	height:546px;
	margin-left:15px;
	overflow:hidden;
	width:478px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

figure img{
	margin-left:-60px;
}

figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

